---
---

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

img:not(.smooth) {
  image-rendering: pixelated;
}

body {
  font-family: Times New Roman;
  font-size: 12pt;
  margin:50px;
  color: #FFF;
  background: url('/assets/images/bgwhstars.gif'), #000;
}

.header-ticker {
    white-space: nowrap;
}

.header-text {
  h1 {
    margin: 0;
  }
  text-decoration: none;
}

.bordered {
    border: #FFF groove;
    margin: 5px;
    padding: 5px;
    
    & table {
        border-collapse: collapse;
        > thead > tr > th, > tbody > tr > td {
            border: #FFF groove;
    padding: 5px;
        }
    }
}

.container {
  &-flex {
    display: flex;
  }
  &-grid {
    display: grid;
  }
}

a {
  color: #FFF;
}

.footer-container {
  text-align: center;
}

.content-section {
  background: #000000A0;
  overflow: auto;
}

.App {
    max-width: 800px;
    margin: auto;
}

@supports (font-variation-settings: normal) {
  code { 
    font-family: 'Anonymous Pro', monospace; 
    font-size: 12px;
    -webkit-font-smoothing: none;
    font-smooth: never;
  }
}

.highlight {
    background: unset !important;
}

h1, h2, h3 {
    padding: 0;
    margin: 0;
}

.inline-icon {
    vertical-align: middle;
    margin-right: 5px;
}
