@use "everforest";

body {
  color: everforest.$fg;
  background-color: everforest.$bg0;
}

a {
  color: everforest.$blue;
}

img {
  max-width: 100vw;
  max-height: 720px;
}

.wip-indicator {
  color: everforest.$yellow;
}

.langcolor {
  &-rust {
    color: everforest.$orange;
  }
}
