<div class="footer-container">
    <div>
        <img src="/assets/images/badges/selfhosted.gif" alt="self-hosted" title="This site is self-hosted!"/>
        <a href="https://debian.org" target="_blank"><img src="/assets/images/badges/Debian-80x15.gif" alt="debian operated" title="This site is running on Debian Linux!"/></a>
        <a href="https://neovim.io" target="_blank"><img src="/assets/images/badges/neovim.gif" alt="made with neovim" title="This site was created using neovim!"/></a>
        <a href="https://gentoo.org" target="_blank"><img src="/assets/images/badges/gentoo.gif" alt="made on gentoo" title="This site was created on Gentoo Linux!"/></a>
    </div>
    <span>
        🄯 {{"now" | date: "%Y"}} Silas Bartha
    </span>
</div>
