<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="/style.css"/>
        <title>soaos</title>
        <meta property="og:url" content="{{config.base_url | safe}}/{{current_path | safe}}" />
        {% block meta_content %}
        <meta property="og:title" content="soaos" />
        {% endblock meta_content %}
		{% block rss %}
		  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
		{% endblock %}
	</head>
	<body>
		<section class="section">
			<div class="container">
            {% block  content %}
            <a href="{{ get_url(path='@/_index.md') }}"> <- back to landing</a>
            {{ section.content | safe }}
            {% endblock %}
			</div>
		</section>
	</body>
    <footer>
        <hr/>
        <a href="https://evilr.ing/soaos/previous"><</a>
        <a href="https://evilr.ing">EVILRING</a>
        <a href="https://evilr.ing/soaos/next">></a>
    </footer>
</html>
