{% extends "base.html" %}

{% block content %}
<a href="{{ get_url(path='@/_index.md') }}"> <- back to landing</a>
<h1 class="title">
	{{ section.title }}
</h1>
{% set categories = get_taxonomy(kind="categories") %}
	
{% for category in categories.items %}
<b>{{category.name}}</b>
<ul>
	{% for page in category.pages %}
	<li>
		<a href="{{ page.permalink | safe }}">
			{{ page.title }}{% if page.description %}: {{ page.description }}{% endif %}
		</a>
		{% if page.extra.wip %}
		 (<span class="wip-indicator">wip</span>)
		{% endif %}
		{% if page.extra.very_cool %}
		 (<span class="rainbow_text_animated">VERY COOL</span>)
		{% endif %}
	</li>
	{% endfor %}
</ul>
{% endfor %}

{% endblock content %}
